NET "rst" LOC = "K18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "clk" LOC = "D9" | IOSTANDARD = LVCMOS33 | PERIOD = 12MHz;
NET "gen" LOC = "K17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "in1" LOC = "M18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "in2" LOC = "L18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "in3" LOC = "M16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "in4" LOC = "L17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP;
NET "rgen" LOC = "U17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "led1" LOC = "P15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "led2" LOC = "P16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "led3" LOC = "N15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "led4" LOC = "N16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "win" LOC = "U18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "lose" LOC = "T17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "oute[0]" LOC = "H17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "oute[1]" LOC = "H18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "oute[2]" LOC = "J16" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "oute[3]" LOC = "J18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;

